learning-task-3/anypoint/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="b8ce4560-0f25-4d11-ae27-a3afd175669b">
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="learningtaskthreeFlow" doc:id="ba685ba0-9000-43c7-aa92-1609bdaa13a5">
		<jms:listener doc:name="On New Message" doc:id="0fd8f69b-7678-4d61-8454-de4344a7d426" config-ref="JMS_Config" destination="TESTQUEUE1">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="aa70136e-4455-4ac6-9613-0af3deb31c13" mimeType="application/xml"/>
		<jms:publish doc:name="Publish" doc:id="d10168f5-7859-44cf-b36b-58b7964bc191" config-ref="JMS_Config" destination="TESTQUEUE2">
			<jms:message >
				<jms:body ><![CDATA[#[%dw 2.0
output application/xml
---
Person: {
	name: payload.Person.name,
	code: payload.Person.code,
	emailAddress: payload.Person.emailAddress,
	age: payload.Person.age + 1
}]]]></jms:body>
			</jms:message>
		</jms:publish>
	</flow>
</mule>
