learning-task-1/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65b2ad05-1d64-4f6c-a76b-d07f451ba864">
		<listener-connection host="0.0.0.0" port="8081" />
	</listener-config>
	<flow name="learningtaskoneFlow" doc:id="75a3adc8-8d78-46d2-9392-fa0a50f0042c">
		<listener doc:name="Listener" doc:id="a4807b35-4384-451c-8575-488ffb41ef15" config-ref="HTTP_Listener_config" path="/one" />
		<set-variable value="#[payload.groet ++ " ," ++ payload.naam ++ " !"]" doc:name="Set Variable" doc:id="6c1155a9-d459-419e-947f-8fb8227acbb2" variableName="content" />
		<transform doc:name="Transform Message" doc:id="1cb23b66-1aac-4658-b210-f73de5a493d3">
			<message>
				<set-payload>
					<![CDATA[
						%dw 2.0
						output application/json
						---
						{
						opgemaakteGroet: vars.content
						}
						]]>
				</set-payload>
			</message>
		</transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="da4f3966-a7c9-4c63-9555-f4323d343406" />
	</flow>
</mule>