learning-task-2/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="484df427-314e-424d-984b-ad25a1379602">
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="learningtasktwoFlow" doc:id="1c6fc319-652b-48bb-b750-9885bfff140b">
		<scheduler doc:name="Scheduler" doc:id="cd39e61e-7118-4765-8b2f-9838fa77e779">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="Hoi, Youri!" doc:name="Set Variable" doc:id="8d16109f-901e-4ffe-ad6f-e16d3a2115c3" variableName="content"/>
		<set-payload value="#[output application/java&#10;---&#10;vars.content]" doc:name="Set Payload" doc:id="0ac8e603-f2ac-4be4-bd2f-2c5893383c6a" />
		<jms:publish doc:name="Publish" doc:id="c50c28f9-73c5-4af3-a419-d6a606fb0d68" destination="learningTaskTwo" config-ref="JMS_Config"/>
	</flow>
	<flow name="learningtasktwoFlow1" doc:id="6195fbe0-7641-4c54-83f7-e5b48003a99b">
		<jms:listener doc:name="On New Message" doc:id="04bd80fb-2f03-4fec-a982-dbf52e012bde" destination="learningTaskTwo" config-ref="JMS_Config">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="4c9fc06d-23a5-4bce-a100-ad1ad8990f74" />
	</flow>
</mule>
